<div class="all">
    <div class="nav1">
        <img class="logo" src="assets/logo.png" alt="" style="margin-left: 4">
        <div class="jj1" >
        <ul class="wrapper1">
            <li>
              <a class="neg" href=""><h6>Home</h6></a>
            </li>
          </ul>
        </div>
        <div class="jj2" >
            <ul class="wrapper">
              <li>
                <a href=""><h6>Cart</h6></a>
              </li>
            </ul>
        </div>
              <img class="deliveryicon" src="assets/fast-delivery.png" style="position: absolute; left: 1455px; bottom: 45px;" alt="">
        </div>
    </div>


<div class="all2">
    <h1>Fast And Efficient, Online Ordering You Must Try.</h1>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap">
</div>